.loader {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: $color-black;
  z-index: 30;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderFadeIn 0.6s ease-in forwards 23s;

  $root: &;

  &__icon {
    opacity: 0;
    filter: blur(5px);
    transform-origin: center;
    transition: opacity $transition-300, filter 0.5s ease-out;
  }

  &__icon-1 {
    width: 136px;
    height: 87px;
    position: absolute;
    top: 16.2%;
    left: 77.7%;
    animation: moveToCenter-icon-1 7s cubic-bezier(0.22, 1, 0.36, 1) 0.5s;
  }

  &__icon-2 {
    width: 88px;
    height: 16px;
    position: absolute;
    top: 45%;
    left: 28%;
    animation: moveToCenter-icon-2 7s cubic-bezier(0.22, 1, 0.36, 1) 1.5s;
  }

  &__icon-3 {
    width: 122px;
    height: 37px;
    position: absolute;
    top: 71%;
    left: 34.7%;
    animation: moveToCenter-icon-3 7s cubic-bezier(0.22, 1, 0.36, 1) 2.5s;
  }

  &__icon-4 {
    width: 149px;
    height: 63px;
    position: absolute;
    top: 92%;
    left: 77.2%;
    animation: moveToCenter-icon-4 7s cubic-bezier(0.22, 1, 0.36, 1) 3.5s;
  }

  &__icon-5 {
    width: 86px;
    height: 125px;
    position: absolute;
    top: 16%;
    left: 9.5%;
    animation: moveToCenter-icon-5 7s cubic-bezier(0.22, 1, 0.36, 1) 4.5s;
  }

  &__icon-6 {
    width: 150px;
    height: 25px;
    position: absolute;
    top: 20.5%;
    left: 53.5%;
    animation: moveToCenter-icon-6 6s cubic-bezier(0.22, 1, 0.36, 1) 5.5s;
  }

  &__icon-7 {
    width: 100px;
    height: 29px;
    position: absolute;
    top: 62.2%;
    left: 57%;
    animation: moveToCenter-icon-7 7s cubic-bezier(0.22, 1, 0.36, 1) 6.5s;
  }

  &__icon-8 {
    width: 163px;
    height: 38px;
    position: absolute;
    top: 8.5%;
    left: 34%;
    animation: moveToCenter-icon-8 7s cubic-bezier(0.22, 1, 0.36, 1) 7.5s;
  }

  &__icon-9 {
    width: 155px;
    height: 54px;
    position: absolute;
    top: 83.3%;
    left: 14%;
    animation: moveToCenter-icon-9 7s cubic-bezier(0.22, 1, 0.36, 1) 8.5s;
  }

  &__icon-10 {
    width: 109px;
    height: 15px;
    position: absolute;
    top: 36.35%;
    left: 40%;
    animation: moveToCenter-icon-10 7s cubic-bezier(0.22, 1, 0.36, 1) 10s;
  }

  &__icon-11 {
    width: 65px;
    height: 69px;
    position: absolute;
    top: 46.3%;
    left: 73.6%;
    animation: moveToCenter-icon-11 7s cubic-bezier(0.22, 1, 0.36, 1) 11s;
  }

  &__icon-12 {
    width: 142px;
    height: 36px;
    position: absolute;
    top: 75%;
    left: 61.6%;
    animation: moveToCenter-icon-12 7s cubic-bezier(0.22, 1, 0.36, 1) 12s;
  }

  &__icon-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulseLogo 7.5s cubic-bezier(0.55, 0, 1, 0.45) 16s forwards;
    transform-origin: center;
  }

  &__load {
    position: relative;
    width: 280px;
    height: 2px;
    background-color: $color-charcoal;
    border-radius: 60px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: 80px;
    transition: opacity 0.3s ease-in 23.2s;
    opacity: 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $color-white;
      transform: scaleX(0);
      transform-origin: left center;
      animation: loaderFill 23s linear forwards;
      border-radius: 60px;
    }
  }
}

@keyframes loaderFadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulseLogo {
  0% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 1;
    filter: blur(2px);
  }
  15% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0);
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
  40% {
    filter: blur(0);
    opacity: 0;
  }
  60% {
    filter: blur(0);
    opacity: 1;
  }
  75% {
    filter: blur(0);
    opacity: 0;
  }
  80% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(0);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}

@keyframes loaderFill {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes moveToCenter-icon-1 {
  0% {
    transform: translate(77.7%, 16.2%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-2 {
  0% {
    transform: translate(45%, 28%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-3 {
  0% {
    transform: translate(71%, 34.7%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-4 {
  0% {
    transform: translate(92%, 77.2%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-5 {
  0% {
    transform: translate(16%, 9.5%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-6 {
  0% {
    transform: translate(20.5%, 53.5%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-7 {
  0% {
    transform: translate(62.2%, 57%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-8 {
  0% {
    transform: translate(8.5%, 34%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-9 {
  0% {
    transform: translate(83.3%, 14%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-10 {
  0% {
    transform: translate(36.35%, 40%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}
@keyframes moveToCenter-icon-11 {
  0% {
    transform: translate(46.3%, 73.6%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}

@keyframes moveToCenter-icon-12 {
  0% {
    transform: translate(75%, 61.6%) scale(2);
    opacity: 0;
    filter: blur(5px);
  }
  25% {
    filter: blur(0);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    filter: blur(1px);
    top: 50%;
    left: 50%;
  }
}
